<form action="/payment/results">
<div>
<label for="apr_num">APR</label>
<input name="apr" type="text" id="apr_num" placeholder="E.g. 5.42">
</div>
<div>
<label for="num_of_yrs">Number of years</label>
<input name="year" type="text" id="num_of_yrs" placeholder ="How many years to repay?">
</div>
<div>
<label for="usr_principal">Principal</label>
<input name="principal" type ="currency" id="usr_principal" placeholder="How much principal?">
</div>
<button>Calculate monthly payment</button>

</form>
